git+https://github.com/yaranbarzi/aigolden-audio-to-text.git
edge_tts==7.0.0
yt-dlp==2023.12.30
pysrt==1.1.2
rubberband-cli==0.0.1
pydub==0.25.1
google-generativeai==0.8.3
tqdm==4.66.5
tenacity==9.0.0
gradio==5.0.1
